<p>
	{{ $siteLanguages := .Site.Languages }} {{ $pageLang := .Page.Lang }} {{ $currentPage := . }} {{ $pageName := "" }} {{ range .Site.Menus.main }} {{ if eq ($currentPage.Permalink) (.URL |
	absLangURL) }} {{ $pageName = .Name }} {{ end }} {{ end }} {{ range .Page.AllTranslations }} {{ $translation := .}} {{ range $siteLanguages }} {{ if eq $translation.Lang .Lang }} {{ $selected :=
	false }} [<a href="{{ $translation.Permalink }}">{{ .LanguageName }}</a>] {{ end }} {{ end }} {{ end }}
</p>
<br /><br />
